</main>
<div style="background-color: #f5c1262f;">
<div class="container">
<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5  border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <img class="logo-footer" src="public/images/Caterpillar_logo.svg.png" height="75px" >
      </a>
      <p class="text-body-secondary">© 2024</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5></h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>OUR MACHINES</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/motorgrader" class="nav-link p-0 text-body-secondary">Articulated Truck</a></li>
        <li class="nav-item mb-2"><a href="/asphaltpaver" class="nav-link p-0 text-body-secondary">Asphalt Pavers</a></li>
        <li class="nav-item mb-2"><a href="/backhoeloader" class="nav-link p-0 text-body-secondary">Backhoe Loader</a></li>
        <li class="nav-item mb-2"><a href="/excavator" class="nav-link p-0 text-body-secondary">Excavator</a></li>
        <li class="nav-item mb-2"><a href="/doser" class="nav-link p-0 text-body-secondary">Doser</a></li>
      </ul>
    </div>

    

    <div class="col mb-3">
      <h5>CONTACT US</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/consult" class="nav-link p-0 text-body-secondary">Mail Us</a></li>
        <li class="nav-item mb-2"><a href="/consult" class="nav-link p-0 text-body-secondary">Contact Expert</a></li>
        <li class="nav-item mb-2"><a href="/consult" class="nav-link p-0 text-body-secondary">Career</a></li>
      </ul>
    </div>
  </div>
  </footer>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="public/scripts/index.js"></script>
</body>
</main>
</html>