

<div class="p-4 p-md-3 my-4 rounded text-body-emphasis" style="background-color: #FFCE10;">
  <div class="row">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 pt-4" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; letter-spacing: 0em;">
        AI-Powered Predictive Maintenance
      </h1>
      <p class="lead my-3 pt-4">
        Leveraging telematics data, this initiative uses AI to predict and prevent equipment failures, enhancing the reliability of Caterpillar's global fleet. By analyzing historical and real-time data, it identifies potential issues before they occur, improving performance and reducing costs.
      </p>
    </div>
    
    <div class="col-lg-6 d-flex justify-content-end align-items-center">
      
        
        <div class="col-lg-6 mx-auto">
          <div >
            <img src="/public/images/logo.png" alt="logo" class="img-fluid" style="height: 100%; width: 80%; border-radius: 20%; ">
          
        </div>
      </div>
      
    </div>
  </div>
</div>



<div class="row mb-2">
  <div class="col-md-6" >
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color: #FFDE4D;">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">Predictor</strong>
        <h3 class="mb-0" style="letter-spacing: 0em;">Use oru predictor model</h3>
        <p class="card-text pt-4 mb-auto">Use the power of AI and ML to predict the health of your equiptment before anything goes wrong.</p>
        <a href="#tab-models" type="button" class="btn btn-outline-dark my-4">Predict</a>
      </div>
      
    </div>
  </div>
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    style="background-color: #FFDE4D;">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success-emphasis">Consult Experts</strong>
        <h3 class="mb-0" style="letter-spacing: 0em;">Book a slot</h3>
        <p class="mb-auto pt-4 ">
          Get in touch with the leading industrial experts and know the best plan for your equipment today.</p>
        <a href="/book" type="button" class="btn btn-outline-dark my-4">Book session</a>
      </div>
      
    </div>
  </div>
</div>