<span ><img src="/public/images/Caterpillar_logo.svg.png" alt="logo" style="width: 30%; margin-top: 5%;"></span>
<div style="margin-bottom: 10%">
  <div class="container py-4">
    <div
      class="p-5 mb-4 bg-body-tertiary rounded-3"
      style="
        background-image: url('/public/images/first2.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      "
    >
      
      <p style="color: transparent">
        Swap the background-color utility and add a `.text-*` color utility to
      </p>

      <div class="container-fluid py-5"></div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div
          class="h-100 p-5 rounded-3"
          style="
            background-image: url('/public/images/second.jpeg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          "
        >
          <h2 style="color: transparent">Change the background</h2>
          <p style="color: transparent">
            Swap the background-color utility and add a `.text-*` color utility
            to mix up the jumbotron look.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="h-100 p-5 bg-body-tertiary border rounded-3"
          style="
            background-image: url('/public/images/third.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          "
        >
          >
          <h2 style="color: transparent">Add borders</h2>
          <p style="color: transparent">
            Or, keep it light and add a border for some added definition to the
            boundaries of your content.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
